<div class="container content">	
    <div class="heading heading-v1 margin-bottom-20">
        <h2>{{cambiar_password.titulo}}</h2>
    </div>
    <div class="row margin-bottom-30">
        <form id="sky-form4" class="sky-form" name="datapassword" novalidate ng-submit="cambiarPassword()">
            <fieldset>							
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Password actual</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="passwordActual" name="password_actual" required ng-model="data.password_actual">         
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Contraseña</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" id="password" ng-model="data.password">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Confirmar contraseña</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="passwordConfirm" required ng-model="data.another_password">
                        </label>
                    </section>                 
                </div>           
                <div class="row">
                    <button style="width: 100%" class="btn-u" >Guardar</button>           
                </div>                
            </fieldset>
        </form>
    </div>
</div>