 <div class="container content">	
    <div class="heading heading-v1 margin-bottom-20">
        <h2>{{direccion_agregar.titulo}}</h2>
    </div>
    <div class="row margin-bottom-30">
        <form action="#" id="sky-form4" class="sky-form">
            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Nombre(s)</label>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="nombres" required="required" ng-model="data.nombres">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Apellido(s)</label>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="apellidos" required="required" ng-model="data.nombres">
                        </label>
                    </section>
                </div>							
            <div class="row">
                    <section class="col col-6">
                        <label class="label">Calle</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="calle" required="required">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">N° exterior</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="numero_exterior" required="required">
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">N° interior</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="numero_interior">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Código postal</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="codigo_postal" required="required">
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Estado</label>
                            <label class="select">
                                <select name="estado" required="required">
                                    <option value="0" selected="" disabled="disabled"></option>
                                    <option value="1">Distrito Federal</option>
                                    <option value="2">Nuevo León</option>
                                    <option value="3">Morelos</option>
                                    <option value="4">Michoacan</option>
                                </select>
                                <i></i>
                            </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Delegación</label>
                            <label class="select">
                                <select name="delegación" required="required">
                                    <option value="0" selected="" disabled="disabled"></option>
                                    <option value="1">Delegación 1</option>
                                    <option value="2">Delegación 2</option>
                                    <option value="3">Delegación 3</option>
                                    <option value="4">Delegación 4</option>
                                </select>
                                <i></i>
                            </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Colonia</label>
                            <label class="select">
                                <select name="colonia" required="required">
                                    <option value="0" selected="" disabled="disabled"></option>
                                    <option value="1">Colonia 1</option>
                                    <option value="2">Colonia 2</option>
                                    <option value="3">Colonia 3</option>
                                    <option value="4">Colonia 4</option>
                                </select>
                                <i></i>
                            </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Entre la calle</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="calle_x">
                        </label>
                    </section>                        
                </div> 
                <div class="row">
                    <section class="col col-6">
                        <label class="label">y la calle</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="calle_y">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Intrucciones especiales</label>
                        <label class="input">
                            <i class="icon-append fa fa-comment"></i>
                            <input type="text" name="instrucciones_especiales">
                        </label>
                    </section>                        
                </div>   
                <div class="row">
                    <section class="col col-6 pull-right">
                        <label class="label">Dirección principal</label>
                        <label class="checkbox">
                            <input type="checkbox" name="subscription" id="subscription"><i></i> Si
                        </label>
                    </section>
                </div>  
                <div class="row">
                    <button style="width: 100%" class="btn-u pull-right" type="submit">Guardar</button>
                </div>                   
            </fieldset>
        </form>
    </div>
</div>