 <div class="container content">    
    <div class="heading heading-v1 margin-bottom-20">
        <h2>{{direccion_agregar.titulo}}</h2>
    </div>
    <div class="row margin-bottom-30">
        <form  id="sky-form4" class="sky-form" name="data" novalidate ng-submit="guardaDireccion()">
            <fieldset>                          
            <div class="row">
                    <section class="col col-6">
                        <label class="label">Calle</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="callee" class="form-control" required ng-model="data.calle">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">N° exterior</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="numero_exterior" class="form-control" required ng-model="data.numExt">
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">N° interior</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="numero_interior" ng-model="data.numInt">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Código postal</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="codigo_postal" class="form-control" required ng-model="data.cp">
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Estado</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="estado_entidad" class="form-control" required ng-model="data.estado">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Delegación</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="delegacion_municipio" class="form-control" required ng-model="data.delegacionMunicipio">
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="label">Colonia</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="colonia_ciudad" class="form-control" required ng-model="data.colonia">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">Entre calles</label>
                        <label class="input">
                            <i class="icon-append fa fa-book"></i>
                            <input type="text" name="entre_calles" class="form-control" ng-model="data.entreCalles">
                        </label>
                    </section>                        
                </div> 
                <div class="row">
                    <section class="col" style="width: 100%;">
                        <label class="label">Intrucciones especiales</label>
                        <label class="input">
                            <i class="icon-append fa fa-comment"></i>
                            <!-- ng-model="data.addresses_attributes[0].special_instructions" -->
                            <input type="text" class="form-control" name="instrucciones_especiales" ng-model="data.descripcion" >
                            <input type="hidden" name="data.idDomicilio">
                            <input type="hidden" name="data.latitud">
                            <input type="hidden" name="data.longitud">
                        </label>
                    </section>                        
                </div>   
                <div class="row">
                    <section class="col col-6 pull-right">
                        <label class="label">Dirección principal</label>
                        <!-- ng-model="data.addresses_attributes[0].main" -->
                        <label class="checkbox">
                            <input type="checkbox" name="subscription" id="subscription" ng-model="data.principal"><i></i> Si
                        </label>
                    </section>
                </div>  
                <div class="row">
                    <button  style="width: 100%" class="btn-u pull-right" type="submit" >Guardar</button>
                </div>                   
            </fieldset>
        </form>
    </div>
</div>