<div class="container content">	
    <div class="heading heading-v1 margin-bottom-20">
        <h2>{{recuperar_password.titulo}}</h2>
    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form action="#" id="sky-form4" class="sky-form reg-">
            <fieldset>
                <div class="row">
                    <p>Por favor, ingresa tu email. DespreocupateYa te enviará un enlace para cambiar tu password.</p>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-envelope"></i>
                            <input type="email" name="email" class="form-control" required="requried" ng-model="data.email">
                        </label>
                    </section>
                </div>								                      
            </fieldset>
            <div class="row margin-bottom-20">
                <button style="width: 100%" class="btn-u" type="submit" ng-click="send()">Enviar</button>
            </div>
        </form>
    </div>
</div>